bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")

no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

linear-gradient()
  background:
    -webkit-linear-gradient(left,
      #3498db 0%,
      #f47920 10%, 
      #d71345 20%, 
      #8b3ed0 30%,
      #ffd400 40%,
      #3498db 50%,
      #ffd400 60%,
      #d71345 70%,
      #8b3ed0 80%,
      #f47920 90%,
      #3498db 100%
    )
  -webkit-background-clip: text
  color: transparent
  background-size: 200% 100%

extend-click()
  position: relative
  &:before
    content: ''
    position: absolute
    top: -10px
    left: -10px
    right: -10px
    bottom: -10px